---
type Props = {
  id: string;
  text: string;
};

const { id, text } = Astro.props;
---

<a
  href={`#${id}`}
  class="sticky top-0 rounded border-b-2 border-gray-800 bg-gray-900 p-8"
>
  <h3 id={id} class="font-bold">{text}</h3>
</a>
