---
import type { CTA } from "@root/types";
import Cta from "../cta.astro";
import Badge from "../badge.astro";

type Props = {
  heading: string;
  blurb: string;
  emoji: string;
};

const { heading, blurb } = Astro.props;
---

<div class="flex flex-col items-start gap-4 px-8 py-16">
  <div class="flex w-full flex-col md:flex-row md:items-center">
    <Badge class="bottom-28 right-24 h-72 w-72 text-accent-600 md:bottom-0" />
    <div class="flex flex-col gap-2">
      <h1 class="text-2xl font-semibold">{heading}</h1>
      <p class="text-xl text-gray-500">{blurb}</p>
    </div>
  </div>
</div>
