---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;

const greetings = ["Ciao!", "Hello!", "Kia Ora!"];

const greeting = greetings[Math.floor(Math.random() * greetings.length)];
---

<div
  class:list={[
    "relative flex aspect-square items-center justify-center",
    className,
  ]}
>
  <svg
    class="absolute inset-0"
    viewBox="0 0 224 224"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M106.594 4.95642C109.652 2.15221 114.348 2.15221 117.406 4.95642L121.026 8.27484C123.506 10.5486 127.144 11.0275 130.128 9.47314L134.483 7.20461C138.163 5.2876 142.698 6.50277 144.927 10.0031L147.564 14.1452C149.371 16.9834 152.761 18.3876 156.046 17.6585L160.84 16.5944C164.891 15.6953 168.957 18.0428 170.204 22.0006L171.679 26.6843C172.69 29.8935 175.601 32.1271 178.963 32.273L183.868 32.486C188.014 32.6659 191.334 35.9858 191.514 40.1315L191.727 45.0374C191.873 48.3989 194.107 51.3099 197.316 52.3209L201.999 53.7963C205.957 55.0431 208.305 59.1091 207.406 63.1601L206.342 67.954C205.612 71.2387 207.017 74.6286 209.855 76.4357L213.997 79.0731C217.497 81.3018 218.712 85.8368 216.795 89.5171L214.527 93.8722C212.972 96.8563 213.451 100.494 215.725 102.974L219.044 106.594C221.848 109.652 221.848 114.348 219.044 117.406L215.725 121.026C213.451 123.506 212.972 127.144 214.527 130.128L216.795 134.483C218.712 138.163 217.497 142.698 213.997 144.927L209.855 147.564C207.017 149.371 205.612 152.761 206.342 156.046L207.406 160.84C208.305 164.891 205.957 168.957 201.999 170.204L197.316 171.679C194.107 172.69 191.873 175.601 191.727 178.963L191.514 183.868C191.334 188.014 188.014 191.334 183.868 191.514L178.963 191.727C175.601 191.873 172.69 194.107 171.679 197.316L170.204 201.999C168.957 205.957 164.891 208.305 160.84 207.406L156.046 206.342C152.761 205.612 149.371 207.017 147.564 209.855L144.927 213.997C142.698 217.497 138.163 218.712 134.483 216.795L130.128 214.527C127.144 212.972 123.506 213.451 121.026 215.725L117.406 219.044C114.348 221.848 109.652 221.848 106.594 219.044L102.974 215.725C100.494 213.451 96.8563 212.972 93.8722 214.527L89.5171 216.795C85.8368 218.712 81.3018 217.497 79.0731 213.997L76.4357 209.855C74.6286 207.017 71.2387 205.612 67.954 206.342L63.1601 207.406C59.1091 208.305 55.0431 205.957 53.7963 201.999L52.3209 197.316C51.3099 194.107 48.3989 191.873 45.0374 191.727L40.1315 191.514C35.9858 191.334 32.6659 188.014 32.486 183.868L32.273 178.963C32.1271 175.601 29.8935 172.69 26.6843 171.679L22.0006 170.204C18.0428 168.957 15.6953 164.891 16.5944 160.84L17.6585 156.046C18.3876 152.761 16.9834 149.371 14.1452 147.564L10.0031 144.927C6.50277 142.698 5.2876 138.163 7.20461 134.483L9.47314 130.128C11.0275 127.144 10.5486 123.506 8.27484 121.026L4.95642 117.406C2.15221 114.348 2.15221 109.652 4.95642 106.594L8.27484 102.974C10.5486 100.494 11.0275 96.8563 9.47314 93.8722L7.20461 89.5171C5.2876 85.8368 6.50277 81.3018 10.0031 79.0731L14.1452 76.4357C16.9834 74.6286 18.3876 71.2387 17.6585 67.954L16.5944 63.1601C15.6953 59.1091 18.0428 55.0431 22.0007 53.7963L26.6843 52.3209C29.8935 51.3099 32.1271 48.3989 32.273 45.0374L32.486 40.1315C32.6659 35.9858 35.9858 32.6659 40.1315 32.486L45.0374 32.273C48.3989 32.1271 51.3099 29.8935 52.3209 26.6843L53.7963 22.0006C55.0431 18.0428 59.1091 15.6953 63.1601 16.5944L67.954 17.6585C71.2387 18.3876 74.6286 16.9834 76.4357 14.1452L79.0731 10.0031C81.3018 6.50277 85.8368 5.2876 89.5171 7.20461L93.8722 9.47314C96.8563 11.0275 100.494 10.5486 102.974 8.27484L106.594 4.95642Z"
      class="origin-center animate-spin-slow"></path>
  </svg>
  <p class="relative -rotate-12 text-3xl font-semibold text-white">
    {greeting}
  </p>
</div>
