<div class="group/dropdown relative">
  <slot name="trigger" />
  <div
    class:list={[
      "absolute left-0 top-full pt-2 transition-all",
      "opacity-0 pointer-events-none translate-y-4",
      "group-focus-within/dropdown:pointer-events-auto group-focus-within/dropdown:opacity-100 group-focus-within/dropdown:translate-y-0",
    ]}
  >
    <slot name="menu" />
  </div>
</div>
