---
import { getEntry } from "astro:content";
import Icon from "@root/icons/icon.astro";

const { data: links } = await getEntry("links", "index");
---

<div class="flex items-center justify-between bg-gray-950 p-8">
  <span class="text-gray-700">Made with stress, coffee and magic</span>
  <div class="flex gap-4 text-white">
    {
      links.find.map((item: any) => (
        <a aria-label={item.label} href={item.url}>
          <Icon icon={item.icon as any} class="h-5 w-5 text-white" />
        </a>
      ))
    }
  </div>
</div>
