---
import { getEntry } from "astro:content";
import Cta from "./cta.astro";

const { data: links } = await getEntry("links", "index");
---

<div class="flex items-center justify-between bg-gray-950 p-8">
  <span class="text-gray-700">Made with stress, coffee and magic</span>
  <div class="flex gap-4 text-white">
    {
      links.find.map((item: any) => (
        <a
          aria-label={item.label}
          href={item.url}
          class:list={["text-white bx text-xl", item.icon]}
        />
      ))
    }
  </div>
</div>
