---
type Props = {
  id?: string;
  class?: string;
  label?: string;
};

const { class: className, id, label } = Astro.props;
---

<button
  {id}
  class:list={[
    "pointer-events-auto -m-4 flex items-center justify-center rounded-full bg-transparent p-4 transition-all hover:bg-gray-800",
    className,
  ]}
  aria-label={label}
>
  <slot />
</button>
