---
import { getEntry } from "astro:content";

import Modal from "@root/components/modal.astro";
import IconButton from "@root/components/icon-button.astro";

const { data: links } = await getEntry("links", "index");
---

<div
  class="sticky inset-x-0 bottom-0 z-20 flex h-24 items-center justify-between border-t-2 border-gray-800 bg-gray-900 px-8"
>
  <div class="flex items-center gap-8">
    <Modal>
      <IconButton slot="trigger" icon="bx-menu" />
      <div slot="menu" class="absolute inset-0 md:p-12">
        <div
          class="mx-auto flex h-full w-full max-w-3xl flex-col items-start justify-center p-4"
        >
          <div
            class="flex h-full w-full items-center justify-center rounded bg-gray-950/80 backdrop-blur-lg"
          >
            <div class="flex flex-col gap-8">
              {
                links.pages.map((link) => (
                  <a
                    href={link.url}
                    class="relative after:absolute after:-inset-2 after:-z-10 after:rounded-sm after:bg-transparent after:transition-all target:after:bg-white/5 hover:after:-inset-4 hover:after:bg-white/5"
                  >
                    <p class="font-semibold text-white">{link.label}</p>
                    <p class="text-gray-500">{link.blurb}</p>
                  </a>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </Modal>
    <div class="flex flex-col">
      <p class="font-semibold">Jordan Accinelli</p>
      <p class="text-gray-500">Website Enthusiast</p>
    </div>
  </div>
</div>
