<div class="group/modal">
  <slot name="trigger" />
  <div
    class:list={[
      "fixed inset-0 opacity-0 pointer-events-none transition-all z-50",
      "group-focus-within/modal:pointer-events-auto group-focus-within/modal:opacity-100",
    ]}
  >
    <slot name="menu" />
  </div>
</div>
