---
type Props = {
  layout: "highlight" | "subtle";
  content: string[];
};

const { content } = Astro.props;
---

<div class="flex h-16 items-center gap-2 overflow-hidden p-4 text-gray-500">
  {
    Array(2)
      .fill(Array(10).fill(content))
      .map((child) => (
        <p class="flex min-w-full flex-shrink-0 animate-scroll justify-around">
          {child}
        </p>
      ))
  }
</div>
