<div
  id="toast"
  class="pointer-events-none sticky bottom-24 flex justify-end p-4 opacity-0"
>
  <p class="rounded-sm bg-accent-600 p-2">Copied!</p>
</div>

<script>
  const toast = document.getElementById("toast");
  const message = toast?.querySelector("p");

  toast?.addEventListener("updatetoast", ((
    event: CustomEvent<{ message: string }>
  ) => {
    if (message) {
      message.innerText = event.detail.message;
    }
    if (toast) {
      if (toast.classList.contains("animate-reveal")) {
        toast.classList.remove("animate-reveal");
        void toast.offsetWidth;
      }
      toast.classList.add("animate-reveal");
    }
  }) as EventListener);
</script>
