---
import Navigation from "@root/components/globals/navigation.astro";
import Footer from "@root/components/globals/footer.astro";

import "@root/style.css";
import "boxicons/css/boxicons.min.css";

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>"
    />
  </head>
  <body class="scroll-smooth bg-gray-900 text-white">
    <main class="p-8">
      <div class="mx-auto flex min-h-screen w-full max-w-6xl flex-col gap-4">
        <slot />
      </div>
    </main>
    <Navigation />
    <Footer />
  </body>
  <script
    defer
    data-domain="jtaccinelli.com.au"
    src="https://plausible.io/js/script.js"></script>
</html>
