---
import Footer from "@root/components/footer.astro";

import "@root/style.css";
import Menu from "@root/components/menu.astro";
import Toast from "@root/components/toast.astro";

type Props = {
  title?: string;
  description?: string;
};

const icon =
  "data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>";

const { title, description } = Astro.props;
---

<html lang="en" class="h-full w-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href={icon} />
  </head>
  <body
    class="flex h-full w-full flex-col items-center justify-center bg-gray-800 text-white md:p-12"
  >
    <div
      class="scrollbar-hidden relative h-full w-full max-w-3xl overflow-y-scroll scroll-smooth rounded bg-gray-900"
    >
      <main class="flex flex-col">
        <slot />
      </main>
      <Toast />
      <Menu />
      <Footer />
    </div>
  </body>
</html>
<script
  defer
  data-domain="jtaccinelli.com.au"
  src="https://plausible.io/js/script.js"></script>
