---
import { getEntry } from "astro:content";

const { data: links } = await getEntry("links", "index");
---

<div class="flex flex-col items-center bg-gray-800 px-8">
  <div
    class="grid w-full max-w-6xl grid-cols-1 gap-16 py-24 pb-24 md:grid-cols-3"
  >
    <div class="flex flex-col items-start space-y-2">
      <p class="font-semibold text-white">Find Me</p>
      {
        links.find.map((item: any) => (
          <a
            href={item.url}
            class="border-b-2 border-gray-700 transition-colors hover:border-accent-600"
          >
            {item.label}
          </a>
        ))
      }
    </div>
    <div class="flex flex-col gap-2 md:col-span-2 md:items-end md:text-right">
      <p class="font-semibold">Acknowledgment</p>
      <p>
        In the spirit of reconciliation, I acknowledges the Traditional
        Custodians of country throughout Australia and their connections to
        land, sea and community. We pay our respect to their Elders past and
        present and extend that respect to all Aboriginal and Torres Strait
        Islander peoples today.
      </p>
    </div>
    <div
      class="flex flex-col justify-between py-4 text-gray-600 md:col-span-3 md:flex-row md:gap-12"
    >
      <p>@2022 Jordan Accinelli</p>
      <p>Made with Coffee, Stress & Magic</p>
    </div>
  </div>
</div>
